.k-autocomplete,
    .k-dateinput-wrap,
    .k-dropdown-wrap,
    .k-picker-wrap,
    .k-multiselect-wrap,
    .k-numeric-wrap {
      border: none !important;
    }
    body {
      padding: 0;
      margin: 0;
      font-family: 'Roboto', sans-serif;
    }